html{
  overflow-x: hidden; /* Hide scrollbars */
  scroll-behavior: smooth;
}

body{
  font-family: 'Roboto', sans-serif;
  background-color: #111122;
  font-size: 22px;
  color: white;

  -webkit-animation: bgcolorchange 4s infinite; /* Chrome, Safari, Opera */
    animation: 30s infinite bgcolorchange;
  }
  @keyframes bgcolorchange {
    0% {
      background-color: #111122;
    }
    10% {
      background-color: #111122;
    }
    50% {
      background-color: black;
    }
    }
    100% {
      background-color: #111122;
    }
  }
  /* Chrome, Safari, Opera */
   @-webkit-keyframes bgcolorchange {
        0%   {background: #111122;}
        10%   {background: #111122;}
        50%  {background: black;}
        100% {background: #111122;}
}

nav ul {
    margin: 0;
    padding: 0;
    text-align: center;
}

nav li {
    display: inline;
}

nav li a {
    display: inline-block;
    text-decoration: none;
    color: white;
    padding: 1rem 1rem;
}

nav li a:hover {
	color: #FFFFE0;
    background-color: #c21525;
}

a{
	color: green;
}

hr{
	border: 4px solid lightgreen;
	/* darkviolet */
}

.topbutton {
  text-align:center;
  position:fixed;
  bottom:25px;
  right:5px;
  cursor:pointer;
  opacity: 0.5;
}

.topbutton:hover{
  opacity: 1;
}

.change_color{
	position: relative;
	float: right;
	right: 15px;
	background: #f44336;
	size: 20%;
	border: none;
	font-size: 10px;
	border-radius: 10px;
	color: white;
	padding: 10px 30px;
	cursor: pointer;
}

.change_language{
	position: relative;
	float: right;
	right: 15px;
	background: #7F00FF;
	size: 20%;
	border: none;
	font-size: 10px;
	border-radius: 10px;
	color: white;
	padding: 10px 30px;
	cursor: pointer;
}

.blogmain{
  text-align: left;
  margin: 0px 5% 10px;
	font-size: 20px;
}

.tip{
    font-size: large;
    width: 50%;
    height: auto;
    border: 1px solid red;
    margin-left: 60px;
    padding: 10px;
}

.date{
	position: relative;
	right: 20px;
	float: right;
}

/* TOP LOGO */
.logo_header input{
	position: relative;
	left: 20px;
	float: left;
	width: 120px;
	height: auto;
}

.logo_header h1{
	position: relative;
	top: 50px;
	left: 20px;
}
.logo_header{
	padding-bottom: 30px;
}

/* Welcome text */
main {
  flex-grow: 1;
	text-align: center;
}

/* Roboto */
/* cyrillic-ext */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'), local('Roboto-Regular'), url(https://fonts.gstatic.com/s/roboto/v18/KFOmCnqEu92Fr1Mu72xKOzY.woff2) format('woff2');
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'), local('Roboto-Regular'), url(https://fonts.gstatic.com/s/roboto/v18/KFOmCnqEu92Fr1Mu5mxKOzY.woff2) format('woff2');
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* greek-ext */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'), local('Roboto-Regular'), url(https://fonts.gstatic.com/s/roboto/v18/KFOmCnqEu92Fr1Mu7mxKOzY.woff2) format('woff2');
  unicode-range: U+1F00-1FFF;
}
/* greek */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'), local('Roboto-Regular'), url(https://fonts.gstatic.com/s/roboto/v18/KFOmCnqEu92Fr1Mu4WxKOzY.woff2) format('woff2');
  unicode-range: U+0370-03FF;
}
/* vietnamese */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'), local('Roboto-Regular'), url(https://fonts.gstatic.com/s/roboto/v18/KFOmCnqEu92Fr1Mu7WxKOzY.woff2) format('woff2');
  unicode-range: U+0102-0103, U+0110-0111, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'), local('Roboto-Regular'), url(https://fonts.gstatic.com/s/roboto/v18/KFOmCnqEu92Fr1Mu7GxKOzY.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'), local('Roboto-Regular'), url(https://fonts.gstatic.com/s/roboto/v18/KFOmCnqEu92Fr1Mu4mxK.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@media (max-width: 550px) {
  .logo_header input{
  	display: none
  }
  .logo_header h1{
  	font-size: 25px;
  }
  .change_color{
  	top: 180px;
  }
  .change_language{
  	left: 100px;
}
@media (max-width: 360px) {
  .change_color{
    left: 0px;
  }
  .change_language{
  	left: 120px;
}
