
body{
  height: 100%;
  font-family: 'Roboto', sans-serif;
  background-color: #111122; /* black */
  font-size: 22px;
  margin: 0;
}

.main{
	overflow: hidden; /* Hide scrollbars */
}

.logo_header input{
	float: left;
	width: 10%;
	height: auto;
}

.logo_header h1{
	position: relative;
	top: 100px;
	left: 10px;
}
.logo_header{
	padding-bottom: 100px;
}

/* https://www.w3schools.com/css/css3_variables.asp */

body {
  -webkit-animation: bgcolorchange 4s infinite; /* Chrome, Safari, Opera */ 
  animation: 30s infinite bgcolorchange;
}
@keyframes bgcolorchange {
  0% {
    background-color: #111122;
  }
  10% {
    background-color: #111122;
  }
  50% {
    background-color: black;
  }
  }
  100% {
    background-color: #111122;
  }
}
/* Chrome, Safari, Opera */
 @-webkit-keyframes bgcolorchange {
      0%   {background: #111122;}
      10%   {background: #111122;}
      50%  {background: black;}
      100% {background: #111122;}
 }

p{
	color: white;
}
h1, h2, h3, h4, h5, h6, h7{
	color: white;
}

main {
    flex-grow: 1;
	text-align: center;
}

nav ul {
    margin: 0;
    padding: 0;
    text-align: center;
}

nav li {
    display: inline;
}

nav li a {
    display: inline-block;
    text-decoration: none;
    color: white;
    padding: 1rem 1rem;
}

nav li a:hover {
	color: #FFFFE0;
    background-color: #c21525;
}

hr{
	border: 4px solid lightgreen;
}
hr.vertical{
	/*-webkit-transform:rotate(90deg);*/
	transform: rotate(90deg);
}

.vl{
	border-left: 6px solid lightgreen;
	height: 100px;
}

.change_color{
	position: relative;
	float: right;
	right: 15px;
	background: #f44336; 
	size: 20%; 
	border: none; 
	font-size: 10px; 
	border-radius: 10px; 
	color: white; 
	padding: 10px 30px; 
	cursor: pointer;
}

/*https://medium.com/@dear_trudence/how-to-draw-vertical-and-diagonal-lines-with-html-and-css-9e8d7d9c59b2
https://www.w3schools.com/howto/howto_css_style_hr.asp*/


/* Roboto */
/* cyrillic-ext */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'), local('Roboto-Regular'), url(https://fonts.gstatic.com/s/roboto/v18/KFOmCnqEu92Fr1Mu72xKOzY.woff2) format('woff2');
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'), local('Roboto-Regular'), url(https://fonts.gstatic.com/s/roboto/v18/KFOmCnqEu92Fr1Mu5mxKOzY.woff2) format('woff2');
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* greek-ext */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'), local('Roboto-Regular'), url(https://fonts.gstatic.com/s/roboto/v18/KFOmCnqEu92Fr1Mu7mxKOzY.woff2) format('woff2');
  unicode-range: U+1F00-1FFF;
}
/* greek */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'), local('Roboto-Regular'), url(https://fonts.gstatic.com/s/roboto/v18/KFOmCnqEu92Fr1Mu4WxKOzY.woff2) format('woff2');
  unicode-range: U+0370-03FF;
}
/* vietnamese */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'), local('Roboto-Regular'), url(https://fonts.gstatic.com/s/roboto/v18/KFOmCnqEu92Fr1Mu7WxKOzY.woff2) format('woff2');
  unicode-range: U+0102-0103, U+0110-0111, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'), local('Roboto-Regular'), url(https://fonts.gstatic.com/s/roboto/v18/KFOmCnqEu92Fr1Mu7GxKOzY.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'), local('Roboto-Regular'), url(https://fonts.gstatic.com/s/roboto/v18/KFOmCnqEu92Fr1Mu4mxK.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@media (max-width: 550px) {
  body{
	font-size: 20px;
	padding: 0px 0px 50px 0px; 
  }
.menu{
	font-size: 15px;
}
.logo_header input{
	display: none;
}
.logo_header h1{
	position: relative;
	top: 0px;
	text-align:center;
}
.logo_header{
	padding-bottom: 6px;
}
.change_color{
	border: none; 
	font-size: 10px; 
	border-radius: 10px; 
	color: white; 
	padding: 10px 30px; 
	cursor: pointer;
}
}
@media (max-width: 1100px) and (min-width: 551px) {
  h1 {
    margin-top: 70px;
  }
}